.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: peachpuff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: orange;
}

.button1 {
  background-color: beige; 
  height: 45px;
}

.button1:active {
  background-color: orange;
}

.button2 {
  background-color: beige; 
  height: 45px;
}

.button2:active {
  background-color: orange;
}

.button3 {
  background-color: beige; 
  height: 45px;
}

.button3:active {
  background-color: orange;
}
